img.pc_image {
  border-radius: 10%;
  margin-bottom: 5px;
  height: 250px;
  width: 180px;
}

.individual-pc-container {
  margin-bottom: 50px;
}

.pc-list-container {
  margin-top: 40px;
}
.logo_image {
  height: 180px;
  width: 380px;
}

.member_card_list {
  margin-top: 10px;
  margin-bottom: 20px;
}

.member_image {
  height: 180px;
  width: 180px;
}

.searchbar {
  border-radius: 30px;
  margin-top: 10px;
}
